.conversion {
	position: sticky;
	z-index: 11;
	top: 54px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #e17358;
	transition: 0.3s background-color;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-bottom: 10px;
}

.conversion__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px 0;
	flex-shrink: 0;
}

.conversion:not(.is-fixed) .hamburger_wraper {
	display: none;
}

.conversion:not(.is-fixed) .hidden-links {
	display: none;
}

.conversion.is-fixed {
	max-width: 100%;
	background-color: #fff;
	border-radius: 0;
	margin: 0;
	padding-bottom: 0;
}

.conversion.is-fixed .container {
	max-width: 100%;
}

.conversion.is-fixed .conversion__title {
	color: #010310;
	padding-left: 10px;
	margin-left: 0px;
	text-transform: uppercase;
}

.conversion.is-fixed .visible-links {
	display: flex;
}

.conversion.is-fixed .visible-links .conversion__link {
	white-space: nowrap;
}

.conversion.is-fixed .hidden-links {
	background-color: #fff;
}

.conversion.is-fixed .hidden-links .conversion__link {
	padding: 7px 10px;
}

.conversion.is-fixed .conversion__holder {
	display: flex;
	align-items: center;
}

.conversion.is-fixed .conversion__block {
	padding: 16px 0;
}

.conversion.is-fixed .conversion__link {
	color: #292929;
	padding: 18px 10px;
	font-weight: bold;
}

.conversion.is-fixed .conversion__link:hover:not(.conversion__link--active) {
	color: #e17358;
}

.conversion.is-fixed .conversion__link--active {
	background-color: #e17358;
	color: #fff;
}

.conversion.is-fixed .visible-links .conversion__link {
	white-space: nowrap;
}

.conversion.is-fixed .conversion__link--hidden {
	display: none;
}

.conversion__title {
	font-size: 19px;
	color: #fff;
	margin-left: 10px;
	margin-right: 20px;
	font-weight: 500;
}

.conversion__list {
	padding-bottom: 10px;
}

.conversion__list li:not(:last-child) {
	margin-right: 20px;
	margin-bottom: 10px;
}

.conversion__nav {
	display: flex;
	flex-basis: 100%;
}

.conversion__link {
	display: block;
	font-size: 15px;
	color: #292929;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 20px;
	transition: 0.3s color;
}

.conversion__link:hover {
	color: #ef6c00;
}

.conversion__link--active {
	color: #fff;
}

.conversion__link:hover:not(.conversion__link--active) {
	color: #fff;
	text-decoration: underline;
}

.hidden-links {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0px;
	top: 100%;
	background-color: #e17358;
}

.hidden-links li {
	display: block;
}

.hidden-links li a {
	display: inline-block;
	margin-right: 0px;
}

.hidden {
	visibility: hidden;
	display: none;
}

.hamburger_wraper {
	position: absolute;
	height: 100%;
	width: 72px;
	top: 0px;
	right: 0;
	padding: 0 10px;
	border: 0;
	outline: none;
	background-color: #fff;
	color: #292929;
	cursor: pointer;
	transition: 0.3s background-color, 0.3s color;
}

.hamburger_wraper .line-active:after {
	top: 9px;
}

.hamburger_wraper .line-active:before {
	bottom: 9px;
}

.hamburger {
	position: relative;
	font-size: 15px;
	margin: auto;
}

.hamburger:before,
.hamburger:after {
	display: none;
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	left: 0;
	transition: 0.5s;
}

.hamburger:before {
	bottom: calc(100% + 5px);
}

.hamburger:after {
	top: calc(100% + 5px);
}

.hamburger.line-active {
	width: 0;
}

.hamburger.line-active:after {
	top: 9px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.hamburger.line-active:before {
	bottom: 9px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

@media screen and (max-width: 1430px) {

.conversion {
	top: 44px;
}

.conversion.is-fixed .conversion__block {
	padding: 11px 0;
}

.conversion.is-fixed .conversion__link {
	padding: 13px 10px;
}

}

@media screen and (max-width: 1350px) {

.conversion {
	top: 40px;
}

.conversion.is-fixed .conversion__title {
	font-weight: bold;
	padding-left: 0px;
}

.conversion.is-fixed .conversion__holder {
	position: relative;
}

.conversion.is-fixed .conversion__block {
	padding: 10px 0;
}

.conversion.is-fixed .conversion__link {
	padding: 7px 10px;
}

.conversion.is-fixed .line-burger,
.conversion.is-fixed .line-burger:after,
.conversion.is-fixed .line-burger:before {
	background-color: #e17358;
}

.conversion__title {
	font-size: 17px;
}

.conversion__list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	background-color: #e17358;
}

.conversion__nav {
	margin-right: 10px;
}

.conversion__link {
	display: inline-block;
}

.hidden-links {
	width: calc(100% + 20px);
	right: -10px;
}

.hidden-links li a {
	display: block;
	padding: 0 20px;
}

.hamburger_wraper {
	position: relative;
	width: 25px;
	height: 25px;
	padding: 0px;
	margin-left: auto;
}

.hamburger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #e17358;
	transition: 0.5s width;
	font-size: 0px;
}

.hamburger:before,
.hamburger:after {
	display: block;
	background-color: #e17358;
}

}

@media screen and (max-width: 480px) {

.conversion__title {
	font-size: 16px;
	padding-bottom: 1px;
}

}

@media screen and (max-width: 400px) {

.conversion.is-fixed .conversion__block {
	padding: 12px 0;
}

.conversion__title {
	font-size: 14px;
	padding-bottom: 0;
}

}

