.main-footer .container--block {
	padding: 0;
}

.main-footer__wrap {
	background-color: #ececec;
	padding: 25px 25px 10px;
}

.main-footer__wrap .main-header__info {
	padding: 0px;
}

.main-footer__wrap .main-header__title,
.main-footer__wrap .main-header__text p,
.main-footer__wrap .main-header__subtitle {
	color: #2b2b2b;
}

.main-footer__wrap .main-header__title a,
.main-footer__wrap .main-header__text p a,
.main-footer__wrap .main-header__subtitle a {
	color: #2b2b2b;
}

.main-footer__list {
	display: flex;
	padding-bottom: 15px;
}

.main-footer__list li:first-child .main-footer__link {
	padding-left: 0px;
}

.main-footer__link {
	display: block;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	text-transform: uppercase;
	padding: 0 10px;
	padding-bottom: 5px;
	transition: 0.3s box-shadow;
}

.main-footer__link:hover {
	text-shadow: 0px 0.5px 0px #000000, 0.5px 0px 0px #000000, 0px -0.5px 0px #000000, -0.5px 0px 0px #000000;
}

.main-footer__link--active {
	text-shadow: 0px 0.5px 0px #000000, 0.5px 0px 0px #000000, 0px -0.5px 0px #000000, -0.5px 0px 0px #000000;
}

.main-footer__desc p {
	font-size: 10px;
	line-height: 1.2;
	color: #a8a8a8;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.main-footer__desc p a {
	color: #a8a8a8;
	transition: 0.3s color;
}

.main-footer__desc p a:hover {
	color: #595959;
}

.msg-modal {
	position: fixed;
	top: 30%;
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #e17358;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 5px;
	z-index: 20;
	transition: 0.3s visibility, 0.3s opacity;
}

.msg-modal-active {
	opacity: 1;
	visibility: visible;
}

.fixed__btns {
	position: fixed;
	z-index: 10;
	top: 40%;
	right: 0;
}

.fixed__button {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #e1856e;
	color: #fff;
	border: 0;
	outline: none;
	padding: 0;
	cursor: pointer;
	margin-bottom: 2px;
	transform: translateX(210px);
	transition: 0.3s transform;
}

.fixed__button:hover {
	transform: translateX(0);
}

.fixed__text {
	flex-grow: 1;
	width: 210px;
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	padding: 0 10px;
}

.fixed__icon {
	background-color: #e17358;
	padding: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-right: 1px solid #ba624c;
}

.fixed__call i {
	font-size: 26px;
}

.fixed__whatsapp i {
	font-size: 30px;
	color: #2ab200;
}

.fixed__up {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #e17358;
	text-align: center;
	justify-content: center;
}

.fixed__up i {
	font-size: 32px;
}

.fixed__up:hover {
	transform: translateX(210px);
}

.popup__call {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s opacity, 0.3s visibility;
}

.popup__active {
	opacity: 1;
	visibility: visible;
}

.popup__text {
	position: relative;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.3;
	color: #fff;
	background-color: rgba(225, 115, 88, 0.8);
	margin-bottom: 20px;
	padding: 10px 30px 10px 15px;
	max-width: 220px;
	cursor: pointer;
}

.popup__text:after {
	content: '';
	position: absolute;
	bottom: -10px;
	right: 30px;
	border-top: 10px solid rgba(225, 115, 88, 0.8);
	border-right: 15px solid transparent;
}

.popup__circle {
	width: 60px;
	height: 60px;
	background-color: #e17358;
	color: #fff;
	text-align: center;
	border-radius: 50px;
	margin-left: auto;
	margin-right: 20px;
	cursor: pointer;
}

.popup__circle i {
	font-size: 30px;
	line-height: 60px;
}

.popup__close {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 0;
	background-color: transparent;
	padding: 0;
	outline: none;
	z-index: 1;
}

.popup__close:after,
.popup__close:before {
	content: '';
	position: absolute;
	top: 13px;
	left: 5px;
	width: 20px;
	height: 4px;
	background-color: #fff;
}

.popup__close:after {
	transform: rotate(45deg);
}

.popup__close:before {
	transform: rotate(-45deg);
}

@media screen and (max-width: 1475px) {

.main-footer__wrap .main-header__title {
	font-size: 28px;
}

}

@media screen and (max-width: 1430px) {

.main-footer__wrap .main-header__title {
	font-size: 22px;
}

}

@media screen and (max-width: 1350px) {

.main-footer__list {
	padding-top: 15px;
	flex-direction: column;
}

.main-footer__link {
	padding-left: 0px;
	text-align: center;
}

.main-footer__desc p {
	text-align: center;
}

}

@media screen and (max-width: 1250px) {

.main-footer__wrap .main-header__title {
	font-size: 19px;
}

}

@media screen and (max-width: 780px) {

.fixed__btns {
	top: 60%;
}

}

