.comment-respond {
	padding-bottom: 95px;
}

.reviews-form__item {
	margin-bottom: 24px;
}

.reviews-form__item input,
.reviews-form__item textarea {
	display: block;
	width: 100%;
	background-color: #fff;
	border: 1px solid #808080;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px 15px;
	padding-bottom: 14px;
}

.reviews-form__item textarea {
	resize: none;
	min-height: 160px;
}

.reviews-form__block {
	display: flex;
	justify-content: space-between;
}

.reviews-form__required {
	color: #fff;
	text-transform: uppercase;
}

.reviews-form__label {
	cursor: pointer;
	user-select: none;
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
}

.reviews-form__label,
.reviews-form__required {
	margin-bottom: 8px;
}

.submit {
	cursor: pointer;
	max-width: 300px;
	width: 100%;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border-radius: 10px;
	border: 0;
	text-transform: uppercase;
	padding: 14px 5px;
	padding-bottom: 15px;
	margin-top: 12px;
	transition: 0.3s background-color, 0.3s border;
}

.submit:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.comment-notes {
	color: #fff;
	margin-bottom: 15px;
	font-size: 14px;
}

.comment-form-cookies-consent {
	display: none;
}

@media screen and (max-width: 960px) {

.comment-respond {
	padding-bottom: 50px;
}

}

